/* Основные стили */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    line-height: 1.6;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('hero-background.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
}

.nav-link:hover {
    text-decoration: underline;
}

.language-switch button {
    background: transparent;
    border: 1px solid #fff;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.hero-content {
    padding: 0 20px;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease;

}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;

}

.btn {
    display: inline-block;
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transform: translateY(-15px)
}

.btn:hover {
    background: #45a049;
    transform: translateY(-20px)
}

.services {
    padding: 60px 20px;
    background: #f4f4f4;
    color: #333;
    text-align: center;
}

.services h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #4CAF50;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.service-card p {
    color: #555;
}

/* Contact Section */
.contact {
    padding: 60px 20px;
    background: #333;
    text-align: center;
}

.contact a {
    color: #4CAF50;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #0a0a0a;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body {
    background-image: url('background.png');
    background-size: auto;
    background-position: center;

}
